<div th:fragment="navbar" id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <h1 class="px-3 h4">Money&nbsp;Manager</h1>
        <div class="sb-sidenav-menu">

            <div class="nav">
                <div class="sb-sidenav-menu-heading">Core</div>
                <a class="nav-link" href="/">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>
                <a class="nav-link" href="/all-income">
                    <p class="mb-0">View All Income</p>
                </a>
                <a class="nav-link" href="/all-expenses">
                    <p class="mb-0">View All Expenses</p>
                </a>
                <a class="nav-link" href="/income" target="_blank">
                    <p class="mb-0">Income JSON Feed</p>
                </a>
                <a class="nav-link" href="/expense" target="_blank">
                    <p class="mb-0">Expense JSON Feed</p>
                </a>
            </div>
        </div>
    </nav>
</div>