<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Money Manager Application for IT 4045C." />
        <title>Home | Money Manager Application</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="css/styles.css" rel="stylesheet"/>
        <link href="css/custom-styles.css" rel="stylesheet"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <div id="layoutSidenav">
            <div th:replace="fragments/sidenav :: navbar"></div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <div class="row">
                            <div class="col-sm" >
                                <div class="mb-3">
                                    <h3  aria-label="Recipient's username" aria-describedby="button-addon2" class="text-light display-6">Income</h3>
                                    <div class="row px-3"><button class="btn btn-outline-light" type="button" id="incomeBtn">Add</button></div>
                                </div>

                                <form class="card input-group mb-3" id="incomeColumn" th:action="@{/addIncomeEntry}" th:object="${income}" method="GET">
                                    <div class="card-body">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Income Source</span>
                                            </div>
                                            <input class="form-control" id="source" th:field="*{source}" type="text" placeholder="E.g., Employment, Retirement, etc." aria-describedby="inputGroup-sizing-default">
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">ID</span>
                                            </div>
                                            <input class="form-control" id="incomeID" th:field="*{incomeID}" type="number" placeholder="Please enter a number" aria-describedby="inputGroup-sizing-default">
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Amount $</span>
                                            </div>
                                            <input class="form-control" id="amount" th:field="*{amount}" type="text" placeholder="0.00" aria-describedby="inputGroup-sizing-default">
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Frequency in Days</span>
                                            </div>
                                            <input class="form-control" id="frequency" th:field="*{frequency}" type="number" placeholder="E.g., 30, 60, 90, etc." aria-describedby="inputGroup-sizing-default">
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Next Deposit Date</span>
                                            </div>
                                            <input class="form-control" id="depositDate" th:field="*{depositDate}" type="date" aria-describedby="inputGroup-sizing-default">
                                        </div>

                                        <div class="input-group mb-3">
                                            <textarea class="md-textarea form-control" rows="2" id="note" th:field="*{note}" placeholder="Description"></textarea>
                                        </div>
                                        <button class="btn btn-outline-dark text-uppercase" type="submit" name="submit" value="0" id="incomeSubmit">Submit</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm">
                                <div class="mb-3">
                                    <h3  aria-label="Recipient's username" aria-describedby="button-addon2" class="text-light display-6">Expenses</h3>
                                    <div class="row px-3"><button class="btn btn-outline-light" type="button" id="expensesBtn">Add</button></div>
                                </div>


                                <form class="card input-group mb-3" id="expenseColumn">
                                    <div class="card-body">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">$</span>
                                            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                                            <span class="input-group-text">.00</span>
                                        </div>

                                        <div class="input-group mb-3">
                                            <textarea class="md-textarea form-control" rows="2" placeholder="Description"></textarea>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm" id="total">
                                <div class="input-group mb-3">
                                    <h3  aria-label="Recipient's username" aria-describedby="button-addon2" class="text-light display-4">Total</h3>
                                </div>

                                <div class="input-group mb-3 mt-5 ">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" >Income</span>
                                    </div>
                                    <input class="form-control" id="incomeTotal" type="text" placeholder="0" readonly aria-describedby="inputGroup-sizing-default">
                                </div>

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" >Expenses</span>
                                    </div>
                                    <input class="form-control" id="expensesTotal" type="text" placeholder="0" readonly aria-describedby="inputGroup-sizing-default">
                                </div>

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" >Net</span>
                                    </div>
                                    <input class="form-control" type="text" id="netTotal" placeholder="Readonly input here…" readonly aria-describedby="inputGroup-sizing-default">
                                </div>
                            </div>
                        </div>

                    </div>
                </main>
                <footer th:replace="fragments/footer :: footer"></footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="js/scripts.js"></script>
        <script src="js/main.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="js/datatables-simple-demo.js"></script>
    </body>
</html>
