<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Money Manager Application for IT 4045C." />
    <link type="image/x-icon" href="assets/img/favicon.ico" rel="shortcut icon">
    <title>Privacy Page | Money Manager Application</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet"/>
    <link href="css/custom-styles.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
<div id="layoutSidenav">
    <div th:replace="fragments/sidenav :: navbar"></div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h2 class="text-light text-center display-2">Privacy Page</h2>
                <div class="card card-body bg-dark">
                    <p class="lead text-light">Integer malesuada urna sit amet erat consequat vehicula. Duis vitae augue a dui varius accumsan quis eget nisl. Fusce in porta elit. Quisque ornare arcu nec mauris finibus, vitae aliquam diam commodo. Nullam non metus vel augue maximus imperdiet. Sed pellentesque consectetur augue id malesuada. Nulla vehicula ligula a lacus maximus faucibus quis ut risus. Vestibulum efficitur metus magna, nec bibendum enim mattis non. Fusce ac enim a enim euismod ornare et et turpis. Proin egestas facilisis nibh in mattis. Integer ornare ullamcorper luctus.</p>
                    <p class="lead text-light">Phasellus sodales tempus varius. Nulla auctor vehicula arcu vel efficitur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque fringilla lacus hendrerit malesuada cursus. Donec aliquet maximus purus, nec bibendum nisl tristique nec. Nam urna dolor, aliquet ac hendrerit mollis, vehicula et leo. Sed in ipsum laoreet, porta velit eget, consequat lacus.</p>
                    <p class="lead text-light">Vivamus tempus tortor nisi, non ultricies quam dignissim non. Donec cursus faucibus tortor, sed eleifend tellus egestas et. Proin tempus eros eget risus tincidunt, eu commodo lectus dictum. Vivamus sem justo, sodales blandit libero eu, mollis euismod tortor. Integer libero felis, molestie sodales ullamcorper vel, fermentum vitae lectus. Nullam condimentum pellentesque leo, ut luctus lorem egestas ac. Cras dolor neque, rhoncus vel nisi nec, elementum dignissim dui. Aenean eu ante quam.</p>
                    <p class="lead text-light">Etiam molestie enim sit amet libero mollis, eu viverra sapien finibus. Proin a lacus quis ligula fermentum mollis. Sed leo nulla, tincidunt quis rhoncus id, vulputate in erat. Ut hendrerit ex est, quis commodo est aliquet non. Donec et arcu metus. Integer in nibh id diam euismod rhoncus vitae at ipsum. Donec vehicula at magna vitae tincidunt. Sed eu condimentum nunc. Duis viverra purus luctus dolor facilisis luctus. Nam aliquet non lorem id laoreet. Cras a leo aliquet, molestie turpis at, vestibulum libero. Ut facilisis neque malesuada rhoncus facilisis. Nulla at magna laoreet, consequat arcu vitae, mollis turpis. Donec quis pharetra ligula, quis pellentesque orci.</p>
                    <p class="lead text-light">Maecenas eget libero est. Nam a consequat leo. Nulla quis interdum turpis. Maecenas ornare condimentum dui, fringilla imperdiet magna pellentesque quis. Maecenas bibendum varius iaculis. Donec eu quam tristique, consequat elit nec, maximus diam. Curabitur vel turpis lorem. Integer in mauris dictum nibh pellentesque faucibus. Curabitur vehicula ante vel dolor efficitur, quis condimentum lorem lobortis. Duis in accumsan erat, nec molestie nisl. Quisque eleifend ornare metus, at facilisis massa lacinia sed.</p>
                </div>
            </div>
        </main>
        <footer th:replace="fragments/footer :: footer"></footer>
    </div>
</div>

</body>
</html>